@charset "utf-8";
/* CSS Document */

body {
	background:url(../img/haikei.jpg);
	color:#FFF;
}
.imgshadow{
    background: #ccc;
    position:relative;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.36);
}

#ContentsArea {
	width:96%;
	margin:0 auto;
	border-radius:4px;
	padding:16px;
	margin-top:24px;
}
#HeaderArea {
	width:100%;
	margin-bottom:62px;
	background:url(../img/head_haikei.png);
}
#HeaderArea #HaederAreaContents {
	padding:24px;
}

#HeaderArea #HaederAreaContents h1 {
	max-width:100%;
	margin:22px 0 36px;
	font-size:41px;
	background-size:contain;
}
#HeaderArea #HaederAreaContents img {
	max-width:100%;
	height:auto;
	border:none;
	margin-bottom:12px;
	padding:0;
}

#HeaderArea #HaederAreaContents p {
	padding-top:12px;
	font-size:24px;
	line-height:1.4;
}

.categorytitle {
	width:100%;
	text-align:center;
	margin:38px auto 28px auto;
}
.categorytitle img {
	max-width:100%;
	height:auto;
}
.section {
	width:100%;
	margin:0 auto 36px auto;
	color:#582204;
}
.section_contents {
	width:100%;
	position:relative;
	padding:0;
}

/*　テキスト短い　*/
.se_ph_right_long .se_text{
	width:35%;
	background:url(../img/se_haikei1.png) top left no-repeat;
	background-size:contain;
}

.se_ph_left_long .se_text {
	width:35%;
	background:url(../img/se_haikei1.png) top right no-repeat;
	background-size:contain;
	margin-right:-12px;
}

.se_ph_right_long .se_text p,
.se_ph_right_long .se_text h3,
.se_ph_left_long .se_text p,
.se_ph_left_long .se_text h3 {
	width:86%;
	margin-left:17px;
}
.se_ph_right_long .se_text h3,
.se_ph_left_long .se_text h3 {
	padding:30px 0 16px 0;
}
.se_ph_right_long .se_text p,
.se_ph_left_long .se_text p {
	padding-bottom:24px;
}
/*　テキスト長い　*/
.se_ph_right_short .se_text{
	width:65%;
	background:url(../img/se_haikei2.png) top left no-repeat;
	background-size:contain;
}
.se_ph_left_short .se_text {
	width:65%;
	background:url(../img/se_haikei2.png) top left no-repeat;
	background-size:contain;
	margin-right:-12px;
}

.se_ph_right_short .se_text p,
.se_ph_right_short .se_text h3,
.se_ph_left_short .se_text p,
.se_ph_left_short .se_text h3 {
	width:89%;
	margin-left:17px;
}

.se_ph_right_short .se_text h3,
.se_ph_left_short .se_text h3 {
	padding:30px 0 16px 0;
}
.se_ph_right_short .se_text p,
.se_ph_left_short .se_text p {
	padding-bottom:24px;
}


/*
ピンの位置設定

*/
.ph_right .se_ph_right_long .se_text:before,
.ph_left .se_ph_left_long .se_text:before,
.ph_right .se_ph_right_short .se_text:before,
.ph_left .se_ph_left_short .se_text:before {
	content:url("../img/se_design_img1.png");
	position:absolute;
	top:-14px;
	z-index:20;
}

.ph_right .se_ph_right_long .se_text:before{
	left:14%;
}
.ph_left .se_ph_left_long .se_text:before{
	left:83%;
}
.ph_right .se_ph_right_short .se_text:before{
	left:28%;
}
.ph_left .se_ph_left_short .se_text:before{
	left:63%;
}

.ph_right .se_ph_right_long .se_ph:before,
.ph_left .se_ph_left_long .se_ph:before,
.ph_right .se_ph_right_short .se_ph:before,
.ph_left .se_ph_left_short .se_ph:before{
	content:url("../img/se_design_img2.png");
	position:absolute;
	top:-14px;
	z-index:20;
}
.ph_right .se_ph_right_long .se_ph:before{
	left:67%;
}
.ph_left .se_ph_left_long .se_ph:before{
	left:32%;
}

.ph_right .se_ph_right_short .se_ph:before{
	left:82%;
}
.ph_left .se_ph_left_short .se_ph:before{
	left:15%;
}


.se_ph_right_long .se_text,
.se_ph_left_long .se_text {
	width:33%;
}

.se_ph_right_long .se_ph,
.se_ph_left_long .se_ph {
	width:65%;
}

.se_ph_right_short .se_text,
.se_ph_left_short .se_text {
	width:65%;
}

.se_ph_right_short .se_ph,
.se_ph_left_short .se_ph {
	width:33%;
}

.se_ph {
	margin-bottom:2px;
}

.se_ph img {
	max-width:100%;
	height:auto;
	border:2px #FFF solid;
}

.se_text h3 {
	font-size:21px;
	font-weight:bold;
	margin-bottom:10px;
}
.se_text p {
	font-size:19px;
	line-height:1.4;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

#Map {
	width:100%;
	margin:0 auto;
}