@charset "utf-8";
/* CSS Document */

body {
	background:#333;
	color:#FFF;
}
.imgshadow{
    background: #ccc;
    position:relative;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.36);
}

#ContentsArea {
	width:96%;
	margin:0 auto;
}
#HeaderArea {
	width:100%;
	border-bottom:1px #93b52a solid;
	padding-bottom:24px;
}
#HeaderArea h1 {
	max-width:100%;
	margin:36px 0 36px 0;
	font-size:41px;
}
#HeaderArea img {
	max-width:100%;
	height:auto;
	border:none;
	margin-bottom:12px;
	padding:0;
	border:1px #535353 solid;
}
#HeaderArea p {
	font-size:24px;
	line-height:1.4;
}
#HeaderArea_bottom_line img {
	max-width:100%;
	height:auto;
}
.categorytitle {
	width:96%;
	text-align:center;
	margin:38px auto 26px auto;
}
.categorytitle img {
	max-width:100%;
	height:auto;
}
.section {
	width:96%;
	margin:0 auto 26px auto;
	background:url(../img/se_haikei.png) bottom no-repeat;
	background-size:contain;
	padding:12px 0;	
}

.section_contents {
	overflow:hidden;
}
/* ------------------------------------------------
	テキストエリアに花のアイコンを設置する
	設置箇所 <div class="se_text icon tilebox">
 ------------------------------------------------ */
.icon {
	background-image:url(../img/se_haikei1.png), url(../img/se_haikei_text.png);
    background-repeat:no-repeat, repeat-y;
    background-position:bottom right, left;
	-webkit-background-size: 48%,contain;
}
.se_ph_right_short .icon,
.se_ph_left_short .icon {
	-webkit-background-size: 25%,contain;
}
/* ------------------------------------------------
	テキストエリアに花のアイコンを設置しない
	設置箇所 <div class="se_text noicon tilebox">
 ------------------------------------------------ */
.noicon {
	background:url(../img/se_haikei_text.png) repeat-y left;
	-webkit-background-size:contain;
}

.se_ph_right_long .se_text,
.se_ph_left_long .se_text {
	width:33%;
}

.se_ph_right_long .se_ph,
.se_ph_left_long .se_ph {
	width:65%;
}

.se_ph_right_short .se_text,
.se_ph_left_short .se_text {
	width:65%;
}
.se_ph_right_short .se_ph,
.se_ph_left_short .se_ph {
	width:33%;
}

.se_text h3 {
	font-size:23px;
	font-weight:bold;
	padding:12px 1em 7px 10px;
	margin-bottom:13px;
	line-height:1.4;
}
.se_text p {
	font-size:19px;
	line-height:1.4;
	padding:0 1em 7px 10px; 
}

.se_ph_right_long .se_text p,
.se_ph_left_long .se_text p {
	width:95%;
}

.se_ph_right_short .se_text p,
.se_ph_left_short .se_text p {
	width:95%;
}


#Map {
	width:96%;
	margin:0 auto;
}