<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>$officename</title>
<link rel="stylesheet" href="css/common_style.css">
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="header"><span><img src="img/head_icon.png" width="30" height="38" alt="headicon">$officename</span></div>
<div id="wrapper">
<div id="scroller">
<!-- html edit start -->

<div id="ContentsArea">
<div id="HeaderArea">
  <h1>$officename</h1>
  <img src="img/$main_ph" class="imgshadow">
</div>

<h2 class="categorytitle"><img src="img/categorytitle1.png"></h2>

$content

</div>
<!-- ContentsArea End -->

<!-- html edit End -->
<hr id="LastLine">
</div>
<!-- scroller End -->
</div>
<!-- wrapper End -->
</body>
</html>